.Cockpit input {
    background-image: url('../../assets/images/download.png');
    background-size: 32px 20px; 
    margin-top: 40px;
    background-position: left 10px center;
    background-repeat: no-repeat;
    width: 80%;
    font-size: 16px;
    color: rgb(99, 97, 97);
    padding: 15px 20px 15px 50px;
    border: 1px solid #ddd;
    border-radius: 24px;
    outline: 0;
}
.Cockpit input.right {
    padding-left: 40px;
    background-position: right 10px center;
}

.Cockpit input.hideIcon {
    padding-left: 40px;
    background-image: none;
} 
.Cockpit .MyInput:focus {
    border-color: black;
}

.Cockpit ul {
    list-style: none;
    width: 80%;
    box-shadow: 0 4px 6px 0 rgba(32,33,36,0.28);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}